.fondo{
    background-image: url("https://k61.kn3.net/taringa/7/D/1/D/7/7/sotelocruz92/267.jpg");
    background-size: cover;
}

.contact-form{
    background-color: rgba(0, 0, 0, .6);
    color: white;
    margin-top: 100px;
    padding: 20px;
    box-shadow: 0px 0px 10px 3 grey;
}

hr{
    background-color: white;
}

/*mapa de google responsive*/
.google-maps {
    position: relative;
    padding-bottom: 75%;
    height: 0;
    overflow: hidden;
}
.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}
/**/